.markdown-alert.markdown-alert-warning {
    border-left-color: var(--borderColor-attention-emphasis, var(--color-attention-emphasis));
}

.markdown-alert {
    padding: var(--base-size-8) var(--base-size-16);
    margin-bottom: var(--base-size-16);
    color: inherit;
    border-left: .25em solid var(--borderColor-default, var(--color-border-default));
}